body{
    margin:0;
    padding:0;
    background-color: #80d0c7;
    font-family: Montserrat,sans-serif;
}

body * {
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 100%;
    max-width: 360px;
    min-width: 300px;
    margin: 10px auto;
    padding:36px;
    background:#515151;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.25),
    inset -4px -4px 10px rgba(0,0,0,0.25);
}

.display{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    padding:12px 20px;
    margin-bottom: 34px;
    background:#c0d3c0;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.6);
    box-shadow: inset 0 0 4px 2px rgba(0,0,0, 0.25);
    overflow: hidden;
    margin-top: 16px;
    font-size: clamp(2rem, 8vw, 3rem);
    font-weight: 700;
}

.buttons{
   padding: 0;
   margin: 0;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
}

.buttons button{
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-size: 36px;
  font-weight: 600;
  background: #e7e7e7;
  color: #242424;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: inset -3px -3px 3px rgba(0,0,0,0.15);
  cursor: pointer;
  user-select: none;
  transition: transform 0.08s ease, filter 0.15s ease;
}

.buttons .orange{
  background: #d88d43;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.5);
}

.buttons button:active{
     transform: translateY(2px);
}

